<h1>@ViewBag.VerDetalleDeportista.Nombre</h1>
<div class="dep">
    <h2>@ViewBag.VerDetalleDeportista.Nombre @ViewBag.VerDetalleDeportista.Apellido</h2>
    <p>@ViewBag.VerDetalleDeportista.FechaNacimiento</p>
    <img src="@ViewBag.VerDetalleDeportista.Foto">
</div>